/* Fondo oscuro de pantalla completa */
body {
    background-color: #121212;
    color: #ffffff;
}

.navbar-brand span {
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1rem;
}

.main-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.btn-outline-light {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn-outline-light:hover {
    background-color: #00f;
    color: #ffffff;
}
