<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
</head>
<body>
    <div class="text-center my-4">
        <h1>Título</h1>
    </div>

    <div class="container">
        <div class="content bg-light p-4 rounded shadow">
            <p>patricio</p>

           
            <div class="my-4">
                <h3>Lenguajes Usados</h3>
                <!-- Incluir el gráfico de Plotly -->
                <div>{{ graph_html | safe }}</div>
            </div>
        </div>
    </div>
</body>
</html>
