
    <div class="text-center my-4">
        <h1>log in</h1>
    </div>

    
    <div class="container">
        <div class="content bg-light p-4 rounded shadow">
            <p>"solo para desarrollador</p>
        </div>
        
        <form method="post" action="/log_in">
            <div class="mb-3">
                <label for="usuario" class="form-label">nombre</label>
                <input type="text" id="usuario" name="usuario" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">log in</button>
            </div>
        </form>
    </div>


